body{
  background-color: black;
  color: white;
}

.header{
  background-color: rgb(97, 14, 28);
  display: flex;
  .navlink{
    /* border: 2px solid yellow; */
    margin-left: 250px;
    margin-top: 45px;
  }
}

.section{
  display: flex;
  /* border: 2px solid green; */
  height: 300px;
  gap: 100px;

}

.articles{
  border: 2px solid blue;
}

.projects{
  border: 2px solid green;
  div{
    margin: auto 200px;
    width: 500px;
    height: 100px;
  }
  figure{
    border: 2px solid red;
  }
  a{
    margin: auto 150px;
  }
}




footer{
  background-color: rgb(105, 105, 12);
}