body{
  background-color: black;
  color: white;
}

.header{
  background-color: rgb(97, 14, 28);
}

.section{
  display: flex;
  /* border: 2px solid green; */
  height: 300px;
  gap: 100px;

}


figure{
  border: 2px solid red;
  width: 50%;
  height: 100px;
}

footer{
  background-color: rgb(105, 105, 12);
}